.screenshots {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.screenshot {
    text-align: center;
    flex: 1;
}

.screenshot img {
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
}